__pycache__/
.vscode
.vs
.env
.venv
*/.env
*/.venv
*/.vscode
*/.vs
*/__pycache__/
*/.ipynb_checkpoints
*/.DS_Store
*/.git
*/.gitignore
*/.gitmodules
*/.idea
*/.mypy_cache
*/.pytest_cache
*/.vscode
*/.vs
*/.ipynb_checkpoints